<div class="container">
    <div class="options">
        <a  (click)="changePresentTab(0)">View Guests</a>
    </div>
    <div *ngIf="PresentTab === 0" class="tabs guests">
        <h2>View Guests</h2>
        <div *ngFor="let guest of allGuests">
            <div class="mdl-card">
                <div class="mdl-card__title">
                <p>Code:{{guest.Code}}</p>
                <p> Name:{{guest.guest_name}}</p>
                <p>Phone No:{{guest.phone_no}}</p>
                <p>Gender:{{guest.gender}}</p>
                <p>Company:{{guest.company}}</p>
                <p>Address:{{guest.address}}</p>
                </div>
                <div class="mdl-card__supporting-text">
                <p>Email:{{guest.email}}</p>
                <p>Age:{{guest.age}}</p>
                <p>Room:{{guest.room}}</p>
                <p>Adults:{{guest.adult}}</p>
                <p>Children:{{guest.children}}</p>
                <p>Check-in:{{guest.checkin}}</p>
                <p>Check-out:{{guest.checkout}}</p>
                </div>
                <div class="mdl-card__actions">
                  <button (click)="deleteGuests(guest.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                    Delete
                  </button>
                  <button (click)="editGuests(guest.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                    Edit
                  </button>
                </div>
            </div>
            <br>
        </div>   
    </div>
</div>