<section class="home">
<img src="../../assets/Images/Hotel Image.jpg" alt="hotel image" >

<div class="homecontent">
<h1>Explore your Destination with us</h1>
<br>
<h1>About Us</h1>
<p class="para">
  Majestic Hotel is a perfect venue for a comfortable stay as well as business meetings, conferences and trainings. 
  The hotel offers 23 modern Classic rooms (single or double) and 5 suites, including luxurious Presidential Suite. 
  Rooms in Grand Royal Hotel are spacious and air-conditioned. Each of them provides wireless Internet access, 
  mini bar, coffee making facility, satellite LCD television, bathrobes and a hairdryer. During their stay, 
  hotel guests can enjoy the Wellness zone of the SPA Center comprising a swimming pool, sauna, jacuzzi and 
  a large gym for free.
  </p>
</section>
</div>








<!--<div class="container">
  <img src="assets/images/Hotel Image.png" class="container_img">
  </div>
  <div class="aboutus">
      <img src="" align="right" />
     <h1 class="heading">Majestic Hotel</h1>
     <h2 class="heading">About Us</h2>
     <p class="para">
      Majestic Hotel is a perfect venue for a comfortable stay as well as business meetings, conferences and trainings. 
      The hotel offers 23 modern Classic rooms (single or double) and 5 suites, including luxurious Presidential Suite. 
      Rooms in Grand Royal Hotel are spacious and air-conditioned. Each of them provides wireless Internet access, 
      mini bar, coffee making facility, satellite LCD television, bathrobes and a hairdryer. During their stay, 
      hotel guests can enjoy the Wellness zone of the SPA Center comprising a swimming pool, sauna, jacuzzi and 
      a large gym for free.
      </p>
      <div class="row">
          <div class="column">
           <p class="text">Majestic Hotel</p>
           <p class="text">Road no-10, Sector-22</p>
           <p class="text">Mumbai-400001</p>
          </div>
          <div class="column">
           <p class="text">Contact Us</p>
           <p class="text">Tel- 022-27455210</p>
           <p class="text">email- royalh@majestic.in</p>
          </div>
        </div>
  </div>
  <app-footer></app-footer>-->
