<div class="container">
  <div class="options">
      <a  (click)="changePresentTab(0)">All Rooms</a>
      <a (click)="changePresentTab(1)">Add Rooms</a>
      <a (click)="changePresentTab(2)">Edit Rooms</a>
  </div>
  <div *ngIf="PresentTab === 0" class="tabs rooms">
      <h2>View Rooms</h2>
      <div *ngFor="let room of allRooms">
          <div class="mdl-card">
              <div class="mdl-card__title">
              <p>Room Number:{{room.room_no}}</p> <br>
              </div>
              <div class="mdl-card__supporting-text">
              <p>Room Type:{{room.room_type}}</p>
              <p>Bed Type:{{room.bed_type}}</p>
              <p>Price:{{room.price}}</p>
              <p>Availability:{{room.availability}}</p>
              </div>
              <div class="mdl-card__actions">
                <button (click)="deleteRoom(room.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                  Delete
                </button>
                <button (click)="editRoom(room.id)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                  Edit
                </button>
              </div>
          </div>
          <br>
      </div>
      
  </div>
  <div *ngIf="PresentTab === 1" class="tabs addRooms">
      <div class="container">
          <div class="demo-card-square mdl-card mdl-shadow--2dp" [formGroup]="loginForm">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Add Room</h2>
                </div>
              <div class="mdl-card__supporting-text">
                    <div class="form" [formGroup]="roomForm" >
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="room_no" class="mdl-textfield__input" type="text" id="rNo">
                        <label class="mdl-textfield__label" for="rNo">Room No</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="room_type" class="mdl-textfield__input" type="text" id="rtype">
                        <label class="mdl-textfield__label" for="type">Room Type</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="bed_type" class="mdl-textfield__input" type="text" id="btype">
                        <label class="mdl-textfield__label" for="type">Bed Type</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="price" class="mdl-textfield__input" type="text" id="price">
                        <label class="mdl-textfield__label" for="price">Price</label>
                      </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input formControlName="availability" class="mdl-textfield__input" type="text" id="avails">
                        <label class="mdl-textfield__label" for="avails">Availability</label>
                      </div>
                    
                      <button (click)="addRoom()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                      Add Room
                      </button>
                    </div>
              </div>
            </div>
  
      </div>
      
  </div>
  <div *ngIf="PresentTab === 2" class="tabs editRoom">
    <div class="mdl-card">
      <div class="mdl-card__title editTitle">
        <span>Edit Room</span>
        <span>Room number {{PresentRoom.roomnumber}}</span>
      </div>
      <div class="mdl-card__supporting-text">
        <div class="form" [formGroup]="editForm" >
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input formControlName="room_type" class="mdl-textfield__input" type="text" id="rtype">
            <label class="mdl-textfield__label" for="type">Room Type</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input formControlName="availability" class="mdl-textfield__input" type="text" id="avails">
              <label class="mdl-textfield__label" for="avails">Availability</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input formControlName="price" class="mdl-textfield__input" type="text" id="price">
              <label class="mdl-textfield__label" for="price">Price</label>
            </div>
        </div>
      </div>
      <div class="mdl-card__actions">
        <button (click)="save()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
          Edit
        </button>
      </div>
  </div>
  </div>
</div>
